@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

$font-stack:    'Ubuntu Mono', Arial, serif;
$font-coding:   'Inconsolata', Arial, serif;
$primary-color: #333;

body {
  font-family: $font-stack;
}

.content {
  // Properties for smaller screens.
  // Nothing is required here because we can use the default styles
  margin: auto;
}

.header a.home {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2em;
}

article h2 {
  font-size: 1.5em;
}

article pre code {
  font-family: $font-coding;
}
