$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

.content {
  // Properties for smaller screens.
  // Nothing is required here because we can use the default styles

  // Properties for larger screens
  @media (min-width: 800px) {
    width: 60%;
    margin: auto;
  }
}
