@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

.content {
  // Properties for smaller screens.
  // Nothing is required here because we can use the default styles
  margin: auto;
}

.header {
  font-family: 'Ubuntu Mono', Arial, serif;
}
